@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
}
body {
  overflow-y: scroll;
  height: 100%;
}

@layer base {
  :root {
    --color-text-base: #000;
    --color-text-muted: #c7d2f7;
    --color-text-inverted: #4f46e5;
    --color-fill: #4338ca;
    --color-button-accent: #fff;
    --color-button-accent-hover: #eef2ff;
    --color-button-muted: 99, 102, 241;
    --bg-color: linear-gradient(153deg, #e97868, #c99e89, #98bfab, #10dcce);
    --toggle-checked: true;
  }
  .dark {
    --color-text-base: #fff;
    --color-text-muted: #fecaca;
    --color-text-inverted: #dc2626;
    --color-fill: #b91c1c;
    --color-button-accent: #fff;
    --color-button-accent-hover: #fef2f2;
    --color-button-muted: 239, 68, 68;
    --bg-color: linear-gradient(352deg, black, #43464f);
    --toggle-checked: false;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* 主题切换组件c's's */

.toggle-cont {
  --toggle-primary: #54a8fc;
  --toggle-light: #d9d9d9;
  --toggle-dark: #121212;
  --toggle-gray: #414344;

  position: relative;
  z-index: 10;

  width: fit-content;
  height: 1.55859375rem;

  border-radius: 9999px;
}

.toggle-cont .toggle-input {
  display: none;
}

.toggle-cont .toggle-label {
  --toggle-gap: 0.155859375rem;
  --toggle-width: 1.55859375rem;

  cursor: pointer;

  position: relative;
  display: inline-block;

  padding: 0.249375rem;
  width: calc((var(--toggle-width) + var(--toggle-gap)) * 2);
  height: 100%;
  background-color: var(--toggle-dark);

  border: 0.031171875rem solid #777777;
  border-bottom: 0;

  border-radius: 9999px;
  box-sizing: content-box;
  transition: all 0.3s ease-in-out;
}

.toggle-label::before {
  content: '';

  position: absolute;
  z-index: -10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: calc(100% + 0.748125rem);
  height: calc(100% + 0.748125rem);
  background-color: var(--toggle-gray);

  border: 0.031171875rem solid #777777;
  border-bottom: 0;
  border-radius: 9999px;

  transition: all 0.3s ease-in-out;
}

.toggle-label::after {
  content: '';

  position: absolute;
  z-index: -10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle at 50% -100%, rgb(58, 155, 252) 0%, rgba(12, 12, 12, 1) 80%);

  border-radius: 9999px;
}

.toggle-cont .toggle-label .cont-icon {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  width: var(--toggle-width);
  height: 1.55859375rem;
  background-image: radial-gradient(circle at 50% 0%, #666666 0%, var(--toggle-gray) 100%);

  border: 0.031171875rem solid #aaaaaa;
  border-bottom: 0;
  border-radius: 9999px;
  box-shadow: inset 0 -0.00467578125rem 0.00467578125rem var(--toggle-primary), inset 0 0 0.0155859375rem 0.0233203125rem var(--toggle-second);

  transition: transform 0.3s ease-in-out;
}

.cont-icon {
  overflow: clip;
  position: relative;
}

.cont-icon .sparkle {
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;

  width: calc(var(--toggle-width) * 0.031171875rem);
  aspect-ratio: 1;
  background-color: var(--toggle-light);

  border-radius: 50%;
  transform-origin: 50% 50%;
  rotate: calc(1deg * var(--toggle-deg));
  transform: translate(-50%, -50%);
  animation: sparkle calc(100s / var(--toggle-duration)) linear calc(0s / var(--toggle-duration)) infinite;
}

@keyframes sparkle {
  to {
    width: calc(var(--toggle-width) * 0.0155859375rem);
    transform: translate(2000%, -50%);
  }
}

.cont-icon .icon {
  width: 0.342890625rem;
  fill: var(--toggle-light);
}

/* .toggle-cont:has(.toggle-input:checked) {
  --toggle-checked: true;
} */

@container style(--toggle-checked: true) {
  .toggle-cont .toggle-label {
    background-color: #41434400;

    border: 0.031171875rem solid #3d6970;
    border-bottom: 0;
  }

  .toggle-cont .toggle-label::before {
    box-shadow: 0 0.31171875rem 0.779296875rem -0.06234375rem #0080ff;
  }

  .toggle-cont .toggle-label .cont-icon {
    overflow: visible;

    background-image: radial-gradient(circle at 50% 0%, #045ab1 0%, var(--toggle-primary) 100%);

    border: 0.031171875rem solid var(--toggle-primary);
    border-bottom: 0;

    transform: translateX(calc((var(--toggle-gap) * 2) + 100%)) rotate(-225deg);
  }

  .toggle-cont .toggle-label .cont-icon .sparkle {
    z-index: -10;

    width: calc(var(--toggle-width) * 0.0467578125rem);
    background-color: #acacac;

    animation: sparkle calc(100s / var(--toggle-duration)) linear calc(10s / var(--toggle-duration)) infinite;
  }

  @keyframes sparkle {
    to {
      width: calc(var(--toggle-width) * 0.031171875rem);
      transform: translate(5000%, -50%);
    }
  }
}
